@font-face {
	font-family: 'TTlakes';
	src: url('../fonts/TTLakes-Regular.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TTlakes';
	src: url('../fonts/TTLakes-Bold.woff');
	font-weight: 700;
}

@font-face {
	font-family: 'TTlakes';
	src: url('../fonts/TTLakes-Medium.woff');
	font-weight: 500;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.sidemenu {
	display: flex;
	width: 320px;
	height: 100vh;
	position: absolute;
	left: 0;
	flex-direction: column;
	justify-content: space-between;
	padding: 24px 24px 32px 24px;
	background-color: #FFFFFF;
	font-family: 'TTlakes';
	box-shadow:  16px 0px 52px rgba(14, 24, 80, 0.2), 
    			 -2px 0px 4px rgba(69, 79, 126, 0.02);
}

.sidemenu_header_wrapper {
	display: flex;
	flex-direction: column;
	gap: 46px;

}

.sidemenu_header {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.sidemenu_header__logo {
	display: flex;
	gap: 17px;
	
}

.button {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: #FF3E79;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

.button:hover {
	opacity: 0.8;
}

.button:active {
	opacity: 0.6;
}

.sidemenu_header__logo__image {
width: 97px;
height: 51px;
}


.sidemenu_nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 32px;
	list-style-type: none;	
	font-size: 16px;	
}

.sidemenu_nav::before {
  content: "";
  position: absolute;
  left: 0;
  background-image: url(../img/highlight.png);
  width: 4px;
  height: 32px;
}

.sidemenu_nav__listitem {
	font-size: 16px;
	color: #1B1C21;
	font-weight: 500;
	line-height: 24px;
	text-decoration: none;
	position: relative;
}

.sidemenu_nav__listitem:hover {
	color: #7E7E82;
}

.sidemenu_footer {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.sidemenu_footer__contacts{
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.sidemenu_footer__contacts__buttons {
	display: flex;
	gap: 16px;
}

.sidemenu_footer__contacts__phonenumber {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.sidemenu_footer__contacts__mail{
}

.sidemenu_footer__contacts__mail_link {
	text-decoration: none;
	color: #1B1C21;
}

.lang-link {
	text-decoration: none;
	color: #1B1C21;
	border: none;
	background-color: #FFFFFF;
	font-family: 'TTlakes';
	font-size: 16px;
}

.lang-link:hover {
	color: #7E7E82;
}