@use 'variables' as *;

.site-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
  padding: 16px;
  border-top: 1px solid #d9fff5;
  color: $muted;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  a {
    text-decoration: none;
  }
}
